.editor {
  width: 100%;
  height: 800px;
}
.tm-navbar {
    padding: 15px 0;
    border: none;
    background: #000;
}
.tm-navbar {
    position: relative;
}

.warningLineDecoration {
    background: red;
    width: 5px !important;
    left: 3px;
}
